*{
    margin: 0;
    padding: 0;
}


.board{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: rgb(2, 2, 255);
}